NEXT_PUBLIC_BASE_URL_BACKEND=https://api-unitok-backend.herokuapp.com
NEXT_PUBLIC_AMAZON_CREDENTIALS_ACCESS_KEY=
NEXT_PUBLIC_AMAZON_CREDENTIALS_BUCKET=
NEXT_PUBLIC_AMAZON_CREDENTIALS_REGION=
NEXT_PUBLIC_AMAZON_CREDENTIALS_SECRET_KEY=
NEXT_PUBLIC_FILES_URL=
NEXT_PUBLIC_PAGARME_ENCRYPTION_KEY=
NEXT_PUBLIC_RECAPTCHA_KEY=
GOOGLE_API_KEY=
GOOGLE_PROJECT_ID=